
.slide-container {
  min-width: 500px;
  min-height: 480px;
  margin-top: 10px;
}


.bordered-container {
    border: 1px solid black; 
    border-radius: 5px;
    padding: 10px; 
    min-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
