
.slide-container {
  justify-content: center;
  min-width: 500px;
  min-height: 480px;
  margin-top: 10px;
}


.bordered-container {
    border: 1px solid black; 
    border-radius: 5px;
    padding: 10px; 
    min-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
  }


.body-container {
    border: 1px solid black; 
    border-radius: 5px;
    padding: 20px; 
    min-width: 500px;
    max-width: 600px;
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.file-container {
    border: 1px solid black; 
    border-radius: 5px;
    padding: 10px; 
    min-width: 150px;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
