body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.dropdown-container {
  padding-top: 10px;
  border-bottom: black;
  vertical-align: top;
}

